@import url('https://fonts.googleapis.com/css?family=Kalam:300');

body {
  text-align: center;
  font-size: 6em;
  line-height: 2em;
  background-color: linen;
}

p{
  font-family: Kalam, Arial, sans-serif;
  margin-top: 0.5em;
}

img{
  max-width: 400px;
  margin-bottom: 0;
}
